@media screen {
  /* --- Base Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  @font-face {
    font-family: "SourceSansPro";
    src: url('../fonts/SourceSansPro-Regular.woff') format('woff'),
        url('../fonts/SourceSansPro-Regular.woff2') format('woff2');
    font-style: normal;
  }

  @font-face {
    font-family: "SourceSansPro Light";
    src: url('../fonts/SourceSansPro-Light.woff') format('woff'),
        url('../fonts/SourceSansPro-Light.woff2') format('woff2');
    font-style: lighter;
  }

  @font-face {
    font-family: "SourceSansPro Bold";
    src: url('../fonts/SourceSansPro-Bold.woff') format('woff'),
        url('../fonts/SourceSansPro-Bold.woff2') format('woff2');
    font-style: bold;
  }

  @font-face {
    font-family: "SourceSansPro Italic";
    src: url('../fonts/SourceSansPro-Italic.woff') format('woff'),
        url('../fonts/SourceSansPro-Italic.woff2') format('woff2');
    font-style: italic;
  }

  @font-face {
    font-family: "SourceSansPro Black";
    src: url('../fonts/SourceSansPro-Black.woff') format('woff'),
        url('../fonts/SourceSansPro-Black.woff2') format('woff2');
    font-style: normal;
  }

  body {
    /* background-color: #F8EDEB; */
    font-family: "SourceSansPro";
    text-align: center;
  }

    /* --- All Page Styles --- */
    input[type=submit] {
      display: block;
      font-family: "SourceSansPro Bold";
      font-size: 18px;
      margin: auto;
      min-width: min-content;
      width: 110px;
      height: 35px;
      border-radius: 15px;
      cursor: pointer;
      border-style: none;
      background: linear-gradient(90deg, #9198e5, #e66465);
      color: white;
    }
    
    .home_page_name {
      background: linear-gradient(90deg, rgba(193,211,254,1) 26%, rgba(190,176,248,1) 81%);
      margin: auto;
      width: auto;
      height: 1500px;
    }
    
    a {
      color: inherit;
      text-decoration: none;
    }

    /* --- Table Styles --- */

  table {
    border-collapse: collapse;
    min-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: auto; 
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: left;
    /* background-color: #F6F9FD; */
    border-bottom: 3px solid #E49097;
  }

  table thead tr {
    /* background: linear-gradient(90deg, rgba(193,211,254,1) 26%, rgba(190,176,248,1) 81%); */
    background: linear-gradient(90deg, #9198e5, #e66465);
    font-family: "SourceSansPro Bold";
    font-size: 22px;
  }
  table th, table td {
    padding: 12px 15px;
  }

  table tbody tr {
    border-bottom: thin solid lightgrey;
  }

  table tbody tr:hover {
    /* background-color: #EDF2FB; */
    background-color: #EAEBFA;
  }

  /* --- /entry View Styles --- */
  #entry_index_h1 {
    margin-top: 60px;
    font-family: "SourceSansPro Black";
    font-size: 34px;
  }

  /* --- /user View Styles --- */

  #user_home_h1 {
    margin-top: 200px;
    font-size: 48px;
    /* background-image: linear-gradient(90deg, rgba(193,211,254,1) 26%, rgba(190,176,248,1) 81%); */
  }

  #user_home_h2 {
    font-size: 30px;
    font-family: "SourceSansPro Light";
    margin-top: 20px;
  }

  #user_home_entries {
    background: linear-gradient(90deg, #9198e5, #e66465);
    font-family: "SourceSansPro Bold";
    padding: 8px 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 26px;
    position: relative;
    top: 30px;
    color: white;
  }

  #user_home_sign_out {
    position: fixed;
    top: 20px;
    right: 25px;
  }

  #entry_home_button {
    font-family: "SourceSansPro Bold";
    position: fixed;
    top: 22px;
    right: 150px;
    font-size: 24px;
  }


  /* --- Footer Styles --- */
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}