@media screen {
  /* --- Base Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  @font-face {
    font-family: "SourceSansPro";
    src: url('../fonts/SourceSansPro-Regular.woff') format('woff'),
        url('../fonts/SourceSansPro-Regular.woff2') format('woff2');
    font-style: normal;
  }

  @font-face {
    font-family: "SourceSansPro Light";
    src: url('../fonts/SourceSansPro-Light.woff') format('woff'),
        url('../fonts/SourceSansPro-Light.woff2') format('woff2');
    font-style: lighter;
  }

  @font-face {
    font-family: "SourceSansPro Bold";
    src: url('../fonts/SourceSansPro-Bold.woff') format('woff'),
        url('../fonts/SourceSansPro-Bold.woff2') format('woff2');
    font-style: bold;
  }

  @font-face {
    font-family: "SourceSansPro Italic";
    src: url('../fonts/SourceSansPro-Italic.woff') format('woff'),
        url('../fonts/SourceSansPro-Italic.woff2') format('woff2');
    font-style: italic;
  }

  @font-face {
    font-family: "SourceSansPro Black";
    src: url('../fonts/SourceSansPro-Black.woff') format('woff'),
        url('../fonts/SourceSansPro-Black.woff2') format('woff2');
    font-style: normal;
  }

  body {
    font-family: "SourceSansPro";
    text-align: center;
  }

    /* --- All Page Styles --- */
    input[type=submit] {
      display: inline;
      font-family: "SourceSansPro Bold";
      font-size: 18px;
      margin: auto;
      width: 100px;
      padding: 6px 10px 6px 10px;
      border-radius: 15px;
      cursor: pointer;
      border-style: none;
      background: linear-gradient(90deg, #9198e5, #e66465);
      color: white;
    }

    .home_page_name {
      background: linear-gradient(90deg, #9198e5, #e66465);
      margin: auto;
      width: auto;
      height: 1200px;
    }

    .home_page_name h1 {
      font-family: "SourceSansPro Black";
      font-size: 120px;
      color: white;
      padding: 275px 0px 40px 0px;
    }

    .home_page_name a {
      display: inline-block;
      font-family: "SourceSansPro Light";
      border: none;
      padding: 0px 10px 5px 10px;
      font-size: 36px;
      width: 140px;
      color: white;
    }

    .home_page_name h1 + a {
      display: inline-block;
      font-family: "SourceSansPro Bold";
      border: none;
      padding: 0px 10px 5px 10px;
      font-size: 36px;
      width: 140px;
      color: white;
    }

    #main_route_divider {
      width: 50px;
      height: auto;
      display: inline-block;
    }
      
    a {
      color: inherit;
      text-decoration: none;
    }

    textarea  {
      font-family: "SourceSansPro";
      font-size: 16px;
      border: thin solid slategray;
      border-radius: 5px;
      display: block;
    }
    
    textarea:focus {
      outline: none;
    }

    .flash {
      background: lightgoldenrodyellow;
    }

    .other_options {
      padding-top: 10px;
      font-size: 18px;
    }

    .other_options_link {
      text-decoration-line: underline;
    }

    .signup_login_buttons {
      padding-top: 40px;
      width: 0;
    }

    .back_to_journal_home {
      position: absolute;
      top: 20px;
      left: 25px;
      display: block;
      font-family: "SourceSansPro Bold";
      font-size: 18px;
      margin: auto;
      width: 100px;
      border-radius: 15px;
      cursor: pointer;
      border-style: none;
      background: linear-gradient(90deg, #9198e5, #e66465);
      color: white;
    }

    .back_button {
      position: absolute;
      top: 20px;
      left: 25px;
      display: block;
      font-family: "SourceSansPro Bold";
      font-size: 18px;
      margin: auto;
      width: 200px;
      padding: 5px 0px 5px 0px;
      border-radius: 15px;
      cursor: pointer;
      border-style: none;
      background: linear-gradient(90deg, #9198e5, #e66465);
      color: white;
    }

    .main_page_button {
      position: absolute;
      top: 20px;
      right: 175px;
      display: block;
      font-family: "SourceSansPro Bold";
      font-size: 18px;
      margin: auto;
      width: 125px;
      padding: 6px 0px 6px 0px;
      border-radius: 15px;
      cursor: pointer;
      border-style: none;
      background: linear-gradient(90deg, #9198e5, #e66465);
      color: white;
    }  

    /* --- Table Styles --- */

  table {
    border-collapse: collapse;
    min-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: auto; 
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: left;
    border-bottom: 3px solid #E49097;
  }

  table thead tr {
    background: linear-gradient(90deg, #9198e5, #e66465);
    font-family: "SourceSansPro Bold";
    font-size: 22px;
  }

  table th, table td {
    padding: 12px 15px;
  }

  table tbody tr {
    border-bottom: thin solid lightgrey;
  }

  table tbody tr:hover {
    background-color: #EAEBFA;
  }

  /* --- /entry View Styles --- */
  #entry_index_h1 {
    padding-top: 60px;
    font-family: "SourceSansPro Black";
    font-size: 34px;
  }

  .entry_box {
    border: thin solid lightgray;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 50px 75px 50px 75px;
    width: 800px;
    margin: auto;
    margin-top: 100px;
  }

  #entry_title {
    font-size: 24px;
    font-family: "SourceSansPro Light";
    padding-bottom: 5px;
    text-align: left !important;
    /* text-decoration-line: underline;
    text-decoration-thickness: 3px; */
  }

  #entry_date {
    font-size: 20px;
    font-family: "SourceSansPro Light";
    padding-bottom: 10px;
    text-align: left !important;
  }

  #mood_entry {
    text-align: left !important;
    font-size: 20px;
    font-family: "SourceSansPro Bold";
    padding-bottom: 25px;
  }

  .entry_input_titles {
    padding-top: 35px;
    text-align: left !important;
    font-size: 20px;
    font-family: "SourceSansPro Bold";
  }

  .entry_inputs {
    padding-top: 10px;
    white-space: pre-wrap;
    text-align: left !important;
  }

  .edit_buttons {
    display: inline;
    font-family: "SourceSansPro Bold";
    font-size: 18px;
    margin: auto;
    /* width: 125px; */
    padding: 6px 30px 6px 30px;
    border-radius: 15px;
    cursor: pointer;
    border-style: none;
    background: linear-gradient(90deg, #9198e5, #e66465);
    color: white;
}

  #show_divider {
    width: 10px;
    height: auto;
    display: inline-block;
  }

  .back_to_all_entries {
    position: absolute;
    top: 20px;
    left: 25px;
    display: block;
    font-family: "SourceSansPro Bold";
    font-size: 18px;
    margin: auto;
    width: 190px;
    height: 25px;
    border-radius: 15px;
    cursor: pointer;
    border-style: none;
    background: linear-gradient(90deg, #9198e5, #e66465);
    color: white;
}

  .space {
    padding-bottom: 40px;
  }

  #no_entries {
    font-size: 24px;
    padding: 75px 0px 25px 0px;
  }

  /* --- /entry/EDIT View Styles --- */

  .date_picker {
    font-family: "SourceSansPro";
    font-size: 16px;
    border: thin solid slategray;
    border-radius: 5px;
    display: block;
  }

  .date_picker:focus {
    outline: none;
  }

  .edit_new_title {
    font-family: "SourceSansPro Black";
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
  }

  .edit_new_divider {
    background: linear-gradient(90deg, rgba(193,211,254,1) 26%, rgba(190,176,248,1) 81%);
    height: 5px;
  }

  .form {
    /* border: thin solid lightgray; */
    width: 800px;
    margin: auto;
  }

  .edit_new_entry_titles {
    padding: 25px 0px 10px 0px;
    /* padding-left: 50px; */    
    text-align: left !important;
    font-size: 20px;
    font-family: "SourceSansPro Bold";
  }

  #edit_title {
    padding: 35px 0px 0px 0px;
    /* padding-left: 50px; */    
    text-align: left !important;
    font-size: 20px;
    font-family: "SourceSansPro Bold";
  }

  #optional_title {
    font-size: 14px;
    text-align: left !important;
    display: block;
    padding-bottom: 5px;
  }

  #title {
    font-family: "SourceSansPro";
    font-size: 17px;
    border: thin solid slategray;
    border-radius: 5px;
    display: block;
    width: 350px;
  }
  
  #title:focus {
    outline: none;
  }

  .mood_selector {
    display: block;
    font-size: 16px;
    border: thin solid slategray;
    border-radius: 5px;
    width: 100px;
  }

  .save_button {
    padding: 25px 0px 30px 0px;
  }

  .delete_button {
    padding: 6px 10px 6px 10px;
    display: inline;
    bottom: 100px;
    font-family: "SourceSansPro Bold";
    font-size: 18px;
    margin: auto;
    width: 110px;
    border-radius: 15px;
    cursor: pointer;
    border-style: none;
    background: linear-gradient(90deg, #9198e5, #e66465);
    color: white;
  }

  .entry_divider {
    width: 50px;
    height: auto;
    display: inline-block;
  }

  #new_entry_button {
    display: inline;
    font-family: "SourceSansPro Bold";
    font-size: 20px;
    margin: auto;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    border-style: none;
    background: linear-gradient(90deg, #9198e5, #e66465);
    color: white;
  }


  /* --- /signup & login View Styles --- */

  .page_space {
    padding-bottom: 150px;
  }

  #signup_box {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 75px 50px 75px 50px;
    width: 500px;
    margin: auto;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(90deg, #9198e5, #e66465) 10 stretch;
  }

  #login_box {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 100px 0px 100px 50px;
    width: 500px;
    margin: auto;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(90deg, #9198e5, #e66465) 10 stretch;
  }

  .signup_login_h1 {
    padding-bottom: 20px;
    font-family: "SourceSansPro Black";
    font-size: 56px;
  }

  .login_signup_titles {
    padding-top: 10px;
    font-size: 24px;
  }

  .break_space {
    padding-bottom: 15px;
  }

  .box_inside_box {
    text-align: left;
    display: block;
  }

  #choose_username {
    font-size: smaller;
  }

  .login_signup_inputs {
    height: 20px;
    width: 200px;
    border: thin solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: larger;
    font-family: "SourceSansPro Light";
    padding-top: 5px;
  }

  .login_signup_inputs:focus {
    outline: none;
  }

  /* --- /user View Styles --- */

  #user_home_h1 {
    padding-top: 200px;
    font-size: 48px;
    /* background-image: linear-gradient(90deg, rgba(193,211,254,1) 26%, rgba(190,176,248,1) 81%); */
  }

  #user_home_h2 {
    font-size: 30px;
    font-family: "SourceSansPro Light";
    padding-top: 20px;
  }

  .user_home_buttons {
    background: linear-gradient(90deg, #9198e5, #e66465);
    font-family: "SourceSansPro Bold";
    padding: 8px 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 26px;
    position: relative;
    top: 30px;
    color: white;
  }

  .logout_button {
    position: absolute;
    top: 20px;
    right: 40px;
    display: block;
    font-family: "SourceSansPro Bold";
    font-size: 18px;
    margin: auto;
    min-width: min-content;
    width: 110px;
    border-radius: 15px;
    cursor: pointer;
    border-style: none;
    background: linear-gradient(90deg, #9198e5, #e66465);
    color: white;
  }

  #main_page_buttons_divider {
    width: 30px;
    height: auto;
    display: inline-block;
  }


  /* --- Footer Styles --- */
  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}