@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  @font-face {
    font-family: "SourceSansPro";
    src: url('../fonts/SourceSansPro-Regular.woff') format('woff'),
        url('../fonts/SourceSansPro-Regular.woff2') format('woff2');
    font-style: normal;
  }

  @font-face {
    font-family: "SourceSansPro Light";
    src: url('../fonts/SourceSansPro-Light.woff') format('woff'),
        url('../fonts/SourceSansPro-Light.woff2') format('woff2');
    font-style: lighter;
  }

  @font-face {
    font-family: "SourceSansPro Bold";
    src: url('../fonts/SourceSansPro-Bold.woff') format('woff'),
        url('../fonts/SourceSansPro-Bold.woff2') format('woff2');
    font-style: bold;
  }

  @font-face {
    font-family: "SourceSansPro Italic";
    src: url('../fonts/SourceSansPro-Italic.woff') format('woff'),
        url('../fonts/SourceSansPro-Italic.woff2') format('woff2');
    font-style: italic;
  }

  @font-face {
    font-family: "SourceSansPro Black";
    src: url('../fonts/SourceSansPro-Black.woff') format('woff'),
        url('../fonts/SourceSansPro-Black.woff2') format('woff2');
    font-style: normal;
  }

  /* --- Page Styles --- */
  body {
    background-color: #edf2fb;
    font-family: "SourceSansPro";
    text-align: center;
  }

  table {
    border-collapse: collapse;
    min-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: auto; 
    text-align: left;
    background-color: #e2eafc;
  }

  table thead tr {
    background-color: #ccdbfd;
  }

  table th, table td {
    padding: 12px 15px;
  }

  /* --- Footer Styles --- */
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}