<h1>Edit your profile</h1>

<h2><label>Name: </label></h2>
<input type="text" id="user_name" name="user_name" value="<%= @user.name %>">
<h2><label>Username: </label></h2>
<input type="text" id="user_name" name="user_name" value="<%= @user.username %>">

<p><input type="submit" value="Update"></p>