<div id="user_home_h1">
  <!-- <h1><mark>Welcome <%= @user.name %>!</mark></h1> -->
  <h1>Welcome <%= @user.name %>!</h1>
</div>
<div id="user_home_h2">
  <h2>How was your day today?</h2>
</div>
<br>
<span id="user_home_entries">
  <a href="/<%= @user.username %>/entries">Your Entries</a>
</span>
<span id="user_home_sign_out">
  <form action="/logout" method="POST">
    <input type="submit" value="Sign out">
  </form>
</span>
