<!-- <div class="break_space"></div>
<span class="entry_flash">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
</span> -->

<div id="user_home_h1">
  <h1>Welcome <%= @user.name %>!</h1>
</div>
<div id="user_home_h2">
  <h2>How was your day today?</h2>
</div>
<br>
<span class="user_home_buttons">
  <a href="/<%= @user.username %>/entries">Your Entries</a>
</span>
<div class="divider"></div>
<span class="user_home_buttons">
  <a href="/<%= @user.username %>/entries/new">Create a New Entry</a>
</span>
<span id="user_home_sign_out">
  <form action="/logout" method="POST">
    <input type="submit" value="Sign out">
  </form>
</span>
<footer>
  <div>
    <small><a  href="https://github.com/kim-jenny5" target="_blank">If you like this, click here for my Github! 🌼</a></small>
  </div>
</footer>
