<h1>Log In</h1>
<form action="/login" method="POST">
<label>Username: </label>
<p><input type="text" id="username" name="username"></p>
<label for="password">Password: </label>
<p><input type="password" id="password" name="password"></p>
<input type="submit" value="Login">
</form>

<p>Don't have an account with us? <a href="/signup">Sign up here!</a></p>