<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Sign Up</h1>
<form action="/signup" method="POST">
<label for="name">Name: </label>
<p><input type="text" id="name" name="name"></p>
<label for="username">Username: </label>
<p><input type="text" id="username" name="username"></p>
<label>Choose your username carefully! You won't be able to change it later. 😉 </label>
<p><label for="password">Password: </label></p>
<p><input type="password" id="password" name="password"></p>
<p><input type="submit" value="Create Account"></p>
</form>

<p>Already have an account? <a href="/login">Log in now!</a></p>