<span class="back_to_journal_home"><a href="/">&laquo; Back to Home</a></span>
<div class="page_space"></div>
<div id="signup_box">
  <div class="box_inside_box">
    <h1 class="signup_login_h1">Sign Up</h1>
    <form action="/signup" method="POST">
      <label for="name" class="login_signup_titles">Name</label>
      <p><input type="text" id="name" class="login_signup_inputs" name="name"></p>
      <div class="break_space"></div>
      <label for="username" class="login_signup_titles">Username</label>
      <p><input type="text" id="username" class="login_signup_inputs" name="username"></p>
      <span id="choose_username">Your username is permanent and cannot be changed later.</span>
      <br>
      <% if flash.has?(:message) %>
        <span id="signup_flash"><%= flash[:message] %></span>
      <% end %>
      <div class="break_space"></div>
      <label for="password" class="login_signup_titles">Password</label>
      <p><input type="password" id="password" class="login_signup_inputs" name="password"></p>
    </div>
    <div class="signup_login_buttons">
      <p><input type="submit" value="Create Account"></p>
    </div>
  </form>
</div>
<div class="other_options">Already have an account? <span class="other_options_link"><a href="/login">Log in now!</a></span></div>
