<h1>New Entry</h1>
<form action="/<%= current_user.username %>/entries" method="POST">
  <h3><label for="date">Today's Date</label></h3>
  <input type="date" id="date" name="date">
  <p><label for="title">Title (optional) </label></p>
  <p><input type="text" id="title" name="title"></p>
  <p>
    <textarea id="the_entry" name="the_entry" rows="20" cols="60"></textarea>
  </p>
  <h3><label for="mood">Today's Mood</label>
    <select id="mood" name="mood">
      <option id="happy" value="happy">Happy</option>
      <option id="meh" value="meh">Meh</option>
      <option id="sad" value="sad">Sad</option>
      <option id="angry" value="angry">Angry</option>
      <option id="tired" value="tired">Tired</option>
      <option id="stressed" value="stressed">Stressed</option>
      <option id="sick" value="sick">Sick</option>
    </select></h3>
  <h2><label for="food">What did you eat today?</label></h2>
  <textarea id="food" name="food" rows="5" cols="40"></textarea>
  <h2><label for="gratitude">Today, I'm grateful for...</label></h2>
  <textarea id="gratitude" name="gratitude" rows="3" cols="40"></textarea>
  <p><input type="submit" value="Save"></p>
</form>

<form action="/<%= current_user.username %>/entries">
    <input type="submit" value="Cancel">
</form>

<!-- <a href="/<%=current_user.username %>/entries">Cance;</a> -->
