<div class="home_page_name">
  <h1>My Daily Journal</h1>
  <a href="/signup">Sign Up</a>
  <a href="/login">Log In</a>
</div>
<footer>
  <div>
    <small><a  href="https://github.com/kim-jenny5" target="_blank">If you like this, click here for my Github! 🌼</a></small>
  </div>
</footer>
