<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My Daily Journal</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="header">

    </div>
    <%= yield %>
    <footer>
      <div>
      <small><a  href="https://github.com/kim-jenny5" target="_blank">If you like this, click here for my Github! 🌼</a></small>
      </div>
    </footer>
  </body>
</html>
