<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My Daily Journal</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="header">
      
    </div>
    <%= yield %>
    <footer>
      <div>
      <small>If you like this, click <a href="https://github.com/kim-jenny5">here</a> for my Github! 🌼 </small>
      </div>
    </footer>
  </body>
</html>
